body{
    margin: 0;
    padding: 0;
    background-color: #fdfdef;
}
ul {
    padding: 0;
}
li {
    padding: 0;
}
h1, h2, p {
    padding: 3px;
}
header {
    background-color: #131a29;
    color: #fff;
    padding: 13px;
    text-align: center;
}
html {
    padding: 0;
    margin: 0;
}
footernav {
    background-color: #3f37379d;
    text-align: center;
    border-radius: 8px 8px;
    margin: 0;
    padding: 1px;
    width: fit-content;
}
footerh2 {
    display: inline-block;
    padding: 0;
    margin-top: 1px;
    margin-bottom: 1px;
}
nav {
    background-color: #3f37379d;
    padding: 1px;
    text-align: center;
    border-radius: 8px 8px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
nav li {
    margin-right: 20px;
    padding: 0;
}
nav a {
    text-decoration: none;
    color: #e9ebc7;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1b1919;
    color: #fffdd2;
    padding: 15px;
    text-align: center;
    margin: 0;
}
ol {
    padding: 5px;
}
table {
    padding: 0px;
    border-collapse: collapse;
    border: 1px solid black;
}
td {
    border: 1px solid black;

}
tr {
    padding: 0;
    border: 1px solid black;
}
thead {
    border: 1px solid black;
}
th {
    border: 1px solid black;
}
td, th {
    padding: 5px;
}
a {
    text-decoration: none;
    color: rgb(35, 0, 0);
    padding: 5px;
}
p {
    color: rgb(35, 0, 0);
    padding: 0;
}

NumberOf {
    padding-left: 10px;
    margin-left: 10px;
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.search_links {
    padding-bottom: 7px;
}
