{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/detail.css" %}">
        <title>Project Lists</title>
    </head>
    <body>
        <header>
            <nav>
                <form class="d-flex" role="search" method="POST" action="{% url 'search-view' %}">
                        {% csrf_token %}
                        <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Search for something"
                        name="search_query"
                        required aria-label="Search"
                        >
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a class="box" href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            Stay Motivated!
        </footer>
    </body>
</html>
