{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static "css/detail.css" %}">
</head>
<main>
    {% if query %}
    <h1>Search Results for: {{ query }}</h1>
    <div>
        <div>
        <!-- check if there is a result in the database-->
        {% if posts %}
            <!-- loop through search query if there is a result -->
            {% for post in posts %}
                <div class="search_links">
                    <!-- return search query -->
                    <a href="{% url 'show_project' post.id %}">{{ post.name }}</a>
                </div>
            {% endfor %}
            <!-- return a message if there are no results found. -->
        {% else %}
            <h3>No search results found</h3>
        {% endif %}
        </div>
    </div>
{% else %}
    <h1>Please enter a search query</h1>
{% endif %}
</main>
{% endblock content %}
